.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 20px;
  gap: 20px;                
  flex-wrap: wrap;           
}

.trainers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.trainers-list > div {
  flex: 1 1 calc(33.33% - 20px); 
  box-sizing: border-box;
  max-width: 300px;
}
