body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../public/sportImg.jpg');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  min-height: 100vh;  
}